%nav-ul {
  ul {
    margin: 0;
    padding: 0;
  }

  ul > li {

    @media (min-width: map-get($screen, md)) {
      display: inline;
      padding-right: 10px;
    }

    @media (max-width: map-get($screen, md)) {
      display: block;
      padding: 5px 0;
    }

  }

}

@for $i from 1 through 100 {
  @if $i % 5 == 0 {
    .mt-#{$i} {
      margin-top: #{$i}px !important;
    }

    .mb-#{$i} {
      margin-bottom: #{$i}px !important;
    }
  }

}

.hidden {
  display: none;
}