$gutter: 8px;

// Breakpoints
$screen: (
  sm: 576px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Colors
$light-grey-f5: #f5f5f5;
$grey-70: #707070;
$grey-cc: #ccc;
$light-blue: #3D3DAE;
$base-blue: #363670;
$dark-blue: #2D2D50;