.input-group {
  margin-top: 14px;
  margin-right: 14px;

  @media (max-width: map-get($screen, md)) {
    width: 100%;
  }
}

.blue-label {
  color: $light-blue;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;

  i {
    margin-right: 10px;
  }
}

.blue-input {
  padding: 8px 12px;
  min-height: 19px;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  padding: 8px 12px;
}

.plain-btn {
  &:hover {
    color: black;
  }
}

.blue-btn {
  background-color: $base-blue;
  color: white;
  border: 0;
  padding: 6px 10px;

  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
  }
}

.blue-radio-group {

  .radio {
    margin: 10px;
    display: inline;
  
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + label {
        &:before {
          content: '';
          background: $grey-cc;
          border-radius: 100%;
          border: 2px solid darken($grey-cc, 25%);
          display: inline-block;
          width: 15px;
          height: 15px;
          position: relative;
          top: 0;
          margin-right: 1em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + label {
          &:before {
            background-color: $base-blue;
            box-shadow: inset 0 0 0 4px $grey-cc;
          }
        }
      }
      &:focus {
        + label {
          &:before {
            outline: none;
            border-color: $base-blue;
          }
        }
      }
      &:disabled {
        + label {
          &:before {
            box-shadow: inset 0 0 0 4px $grey-cc;
            border-color: darken($grey-cc, 25%);
            background: darken($grey-cc, 25%);
          }
        }
      }
      + label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.blue-textarea {
  @extend .blue-input;

  min-height: 80px;
}