.blue-table {
  width: 100%;

  thead {
    background: #f3f3f3;
  }

  tbody {
    tr:hover td {
      background: $light-grey-f5;
    }
  }

  tr > th:first-child, tr > td:first-child {
    width: 15px;
  }

  th {
    text-align: left;
    color: $base-blue;
    padding: 6px;
  }

  td {
    padding: 6px;
  }
}