footer {

  &, a {
    color: white;
  }

  .nav-footer-top, .nav-footer-bottom {
    display: flex;
    justify-content: space-between;

    @media (min-width: map-get($screen, lg)) {
      margin: 0 auto;
      max-width: 1180px;
    } 

    @extend %nav-ul;
  }

  .nav-footer-top {
    padding: 10px 0;
  }

  .footer-top {
    background-color: $light-blue;
    padding: 15px;
  }
  
  .footer-bottom {
    background-color: $dark-blue;
    padding: 10px;
  }
}