header {
  box-shadow: 0px 5px 5px 0px rgba(230,230,230,1);

  a {
    color: $grey-70;
    font-weight: 500;
    padding: 16px;
    display: inline-block;

    &:hover {
      color: $dark-blue;
    }

    &.nav-current {
      @media (min-width: map-get($screen, md)) {
        background-color: $light-grey-f5;
      }
    }
  }

  &.nav-header {
    display: flex;
    justify-content: space-between;

    &-right {
      text-align: right;
    }

    @extend %nav-ul;
  }

  .user-picture {
    background: $grey-70;
    border-radius: 50%;
    padding: 8px 10px;
    margin-right: 10px;
    color: white;
  }
}


@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: $base-blue;
    opacity: 0;
    transition: all 0.2s ease;
    
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      
      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        
        &:not(:first-child) {
          margin-left: 0;
        }
        
        a {
          padding: 10px 25px;
          opacity: 0;
          color: #fff;
          font-size: 24px;
          font-weight: 600;
          transform: translateY(-20px);
          transition: all 0.2s ease;
        }
      }
    }
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }


  .nav-open {
    position: absolute;
    left: 10px;
    top: 5px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;

    i {
      display: block;
      width: 20px;
      height: 2px;
      background:black;
      border-radius: 2px;
      margin-left: 14px;

      &:nth-child(1) {
        margin-top: 16px;
      }

      &:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
      }

      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }

}


#nav-mobile:checked {

  & + .nav-open {
    position: fixed;
    transform: rotate(45deg);

    i {
      background: white;
      transition: transform 0.2s ease;

      &:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
      }

    }
  }

  & ~ .nav-container {
    z-index: 9990;
    opacity: 1;
    
    ul li a {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
