.content {
  margin: 0 $gutter*2 0;

  @media (min-width: map-get($screen, lg)) {
    margin: 0 auto 60px;
    max-width: 1180px;
  } 

  .page-help {
    margin-bottom: 14px;

    &-title {
      color: $light-blue;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

}

